@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif !important;
  background: #fff3f3;
}

html,
body {
  scroll-behavior: smooth;
}

nav {
  padding: 25px 0px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 15px;
    max-width: 1100px;
    margin: auto;

    .logo img {
      width: 150px;
    }
  }

  .nav-links li {
    list-style: none;
    float: left;

    a {
      padding: 5px 25px;
      text-transform: capitalize;
      font-size: 13px;
      font-weight: 600;
      font-family: Helvetica, sans-serif !important;
      text-decoration: none;
      color: rgb(238, 238, 238);
    }

    a:hover {
      color: rgb(255, 87, 27);
    }
  }

  .donate-btn {
    min-height: 100%;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #ffffff;
    border-radius: 5px;

    a {
      color: rgb(8, 8, 8) !important;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

header {
  height: 90vh;
  background-color: #010312;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-image: url("../assets/images/phumelela.jpg");
  position: relative;
}

.hero-container {
  max-width: 1100px;
  margin: 20px auto;
  display: flex; /* Enables flexbox layout */
  justify-content: left; /* Centers child elements horizontally */
  align-items: center; /* Centers child elements vertically */
  height: 100vh; /* Optional: sets the height of the container */

  .hero-content-wrapper {
    margin-left: 20px;
    h1 {
      font-family: "Bebas Neue", sans-serif;
      line-height: 5rem;
      font-size: 4.5rem;
      color: white;
    }
  }

  .cta-btns .button-global {
    background-color: #ff452c;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .material-symbols-outlined {
      font-size: 36px;
    }
  }
}

//

// padding-top: 80px;
// background-color: #f1f0eb;
// border-radius: 20px 20px 0px 0px;
// margin: 0xp 50px;

#about {
  padding-top: 80px;
}

.introduction {
  max-width: 1100px;
  margin: auto;
}

.introduction h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
}

.intro-card {
  box-shadow: 0px 0px 15px -26px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 5px 5px;
  }

  .title-badge {
    position: absolute;
    top: 12px;
    left: 20px;
    background-color: rgb(255, 255, 255);
    padding: 6px 5px 0px 5px;
    border-radius: 5px;

    h4 {
      font-weight: 600;
      font-size: 11px;
      color: #000000;
      text-transform: uppercase;
    }
  }

  .description {
    padding: 0px 10px;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 0;
    transition: 0.5s ease;

    p {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      color: rgb(0, 0, 0);
    }
  }
}

.intro-card:hover {
  .description {
    height: 30%;
    padding: 20px 10px;
  }
}

.mission-section {
  background-color: rgb(224, 236, 255);
}

.align-center {
  max-width: 1100px;
  margin: auto;
  padding: 15px 0px;

  .icon-text {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .card-small {
    border-bottom: 2px solid #666666;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    min-height: 250px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 3px 15px -26px rgba(231, 231, 231, 0.185);

    p {
      font-size: 15px;
      font-family: Helvetica, sans-serif;
    }
  }
}

.volunteer-section {
  background-color: #f6f6f7;
  

  .volunteer-section-wrapper {
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    padding: 3rem 0;
    border-bottom: 2px solid #e4e4e4;

    h4 {
      font-family: "Bebas Neue", sans-serif;
      font-size: 45px;
      color: #000000;
    }
  }
}

.parent-box {
  background-color: white;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.034);
}

// boxes
.box-1 {
  background-color: #271eac;
  /* From https://css.glass */
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(235, 235, 235, 0.075);
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(5px);
  padding: 0 !important;
  border-radius: 0px 5px 5px 0px;
  overflow: hidden;
  display: flex;
  gap: 30px;

  .img-left {
    width: 100%;

    img {
      border-radius: 15px 0px 0px 15px;
    }
  }

  .content-right {
    margin: auto;

    h5 {
      font-family: Helvetica, sans-serif !important;
      text-transform: capitalize;
      font-size: 25px;
      font-weight: 600;
      color: #000000;
    }

    p {
      font-size: 15px;
    }

    button {
      border: none;
      background-color: transparent;
      position: relative;
      font-size: 13px;
      color: rgb(0, 0, 0);
      font-family: Helvetica, sans-serif;
      font-weight: 600;
      padding-bottom: 1px;
      margin-top: 5px;
      display: inline-flex;
      align-items: center;
    }

    button::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: #0f0f0f;
      transition: 0.2s ease;
    }

    button:hover::after {
      width: 100%;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #000;
      width: 290px;
      font-size: 12px;
      padding: 14px 9px;
      margin-bottom: 10px;
    }

    input:focus {
      outline: none;
      border: 1px solid #000;
      border-radius: 5px;
    }
  }
}

.box-2 {
  display: block;
  padding: 0 !important;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }

  .content-bottom {
    padding: 25px 15px;

    h5 {
      font-family: Helvetica, sans-serif !important;
      text-transform: capitalize;
      font-size: 25px;
      font-weight: 600;
      color: #000000;
    }

    p {
      font-size: 15px;
      color: #000000;
    }

    .box-btn {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      border: 1px solid black;
      border-radius: 5px;
      position: relative;
      color: rgb(0, 0, 0);
      position: relative;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      padding: 10px;

      .material-symbols-outlined {
        font-weight: 100;
        font-size: 22px;
      }
    }

    .box-btn::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background: #000000;
      transition: 0.2s ease;
    }

    .box-btn:hover::after {
      width: 100%;
    }

    button {
      background: none;
      border: none;
    }
  }
}

.box-3 {
  display: flex;
  gap: 25px;
  padding: 0 !important;
  background-color: #fffbf4;
  box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.034);
  overflow: hidden;

  img {
    width: 100%;
  }

  .content-bottom {
    padding: 15px 15px 0px 10px;
    width: 100%;
    margin: auto;

    h5 {
      font-family: Helvetica, sans-serif !important;
      text-transform: capitalize;
      font-size: 25px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
    }

    .box-btn {
      color: rgb(0, 0, 0);
      font-family: Helvetica, sans-serif;
      padding-bottom: 1px;
      font-size: 12px;
      text-decoration: none;

      .material-symbols-outlined {
        font-weight: 150;
        font-size: 30px;
      }
    }

    .box-btn:hover {
      border-bottom: 1px solid #000000;
    }
  }
}

.teams-section {
  background-color: #eff1ff;
  border-radius: 20px 20px 0px 0px;

  h2 {
    font-family: "Bebas Neue", sans-serif;
    color: #050216;
    font-size: 38px;
    text-align: center;
  }

  .teams-section-wrapper {
    max-width: 1100px;
    margin: auto;
  }

  .profile-img-wrapper {
    text-align: center;
    img {
      width: 65%;
      border-radius: 50%;
    }

    padding-bottom: 12px;
  }

  .profile-details {
    line-height: 9px;
    margin-top: 10px;
  }

  h5,
  span {
    color: #050216;
  }

  h5 {
    font-weight: 600;
  }

  span {
    font-size: 14px;
  }
}

// .newsletter-container {
//   background-color: #ffcb05;
// }

.footer {
  min-height: 320px;
  padding-top: 30px;
}

.newsletter-container {
  background-color: #f6f6f7;
  .subscription-form {
    max-width: 1100px;
    margin: auto;
    h1 {
      font-size: 40px;
      font-weight: 600;
    }
    label {
      text-transform: uppercase;
      font-size: 11px;
      margin-bottom: 12px;
    }

    input:focus {
      outline: none;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input,
    textarea {
      width: 500px;
      padding: 15px 5px;
      margin-top: 5px;
      background-color: #f6f6f7;
      border: none;
      border-bottom: 1px solid #ccc;
    }

    textarea {
      width: 500px;
      resize: none;
      border: none;
      border-bottom: 1px solid #ccc;
    }

    textarea:focus {
      outline: none;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      border: none;
      background-color: transparent;
      position: relative;
      font-size: 14px;
      color: rgb(0, 0, 0);
      font-family: Helvetica, sans-serif;
      font-weight: 600;
      padding-bottom: 1px;
      margin-top: 5px;
      display: inline-flex;
      align-items: center;
    }

    button::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background: #0f0f0f;
      transition: 0.2s ease;
    }

    button:hover::after {
      width: 100%;
    }
  }
}
.footer-content-container {
  max-width: 1100px;
  margin: auto;

  .downloads h6 {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .footer-links a {
    text-decoration: none;
    font-size: 13px;
    color: #000000;
  }

  .footer-links a:hover {
    color: orangered;
  }

  .footer-links p {
    font-size: 13px;
  }
  .download-links {
    // background-color: #f8f8f8;
    padding: 5px 0px;
    border-radius: 4px;
  }
  .download-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    margin-bottom: 6px;

    .material-symbols-outlined {
      font-weight: 100;
      font-size: 24px;
    }
  }

  .download-link:first-child {
    border-bottom: 1px solid #e6e5e5;
    padding-bottom: 10px;
  }

  .download-link:hover {
    color: orangered;
  }
}

footer .align {
  max-width: 1100px;
  margin: auto;
  border-top: 1px solid #ccc;

  .footer-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    .copyright-links p {
      font-size: 10px;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    .social-media-links ul li {
      float: left;
      list-style: none;
      padding: 0px 10px;

      a {
        text-decoration: none;
        color: #010312;
        font-size: 10px;
        text-transform: uppercase;
      }

      a:hover {
        color: orangered;
      }
    }
  }
}

.models {
  background: red;
  height: 100px;
  width: 300px;
}

// Loader

/* Modal overlay styles */
.modals-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 99; /* Ensures the modal appears above other content */
}

/* Show modal when active */
.modals-overlay.active {
  display: flex;
}

.modals.in-active {
  display: none;
}

.modal-active {
  display: block;
}

/* Modal container styles */
.modals {
  background: #f1f0f0;
  border-radius: 8px;
  width: 90%;
  max-width: 700px; /* Max width to limit modal size */
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  // Center the pop up
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
}

.modals-wrapper {
  position: relative;
}

/* Modal content styles */
.modals-content {
  display: flex;
  flex-direction: row; /* Side-by-side layout */
  gap: 20px;
}

/* Left and right section styles */
.modals-content .left,
.modals-content .right {
  flex: 1; /* Equal width for both sections */
}

.modals-content .left {
  border-radius: 8px;
  img {
    width: 100%;
  }
}

.modals-content .right {
  border-radius: 8px;
  margin: auto;
}

/* Close button styles */
#closeModalBtn {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

// Loader

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  animation: spin 1s linear infinite;
  left: 50%;
  right: 50%;
  z-index: 99;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaded .overlay {
  display: none;
}

.loaded .loader {
  display: none;
}
